<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="UTF-8">
    <title>Angular1</title>
	<script src='./Script/vendor/lodash.js'></script>
	<script src='./Script/vendor/angular.js'></script>
	<script src='./Script/vendor/LocalStorageModule.js'></script>
	<script src='./Script/app/student.js'></script>
	<script src='./Script/app/main_script.js'></script>
	</head>
	<body>
		<div ng-controller='StudentCreateController'>
			<input ng-model='Name' ng-disabled='isAllIinputDisabled()'></input>
			<input ng-model='Surname' ng-disabled='isAllIinputDisabled()'></input>
			<input class='radio' type='radio' value='Male' ng-model='gender' ng-disabled='isAllIinputDisabled()'>Male</input>
			<input class='radio' type='radio' value='Female' ng-model='gender' ng-disabled='isAllIinputDisabled()'>Female</input>
			<br>
			<input class='check' type='checkbox' value='Male' ng-model='hideMale' ng-change='filter()'>Hide Males</input>
			<input class='check' type='checkbox' value='Female' ng-model='hideFemale' ng-change='filter()'>Hide Female</input>
			<br>
			<button ng-click='submit_clicked()' ng-disabled='isButtonDisabled() || isAllIinputDisabled()'>Submit</button>
			<div class='student_list' ng-repeat='student in students | orderBy: student.Gender : false'>
				{{student.PrintText}}
			</div>
		</div>
	</body>

</html>
